
body{
    font-size: 11pt;
    color: #404040;
    font-family: Georgia;
}

h1, h2{
    text-decoration: underline;
    color: #A4A400;
}

h1{
    font-size: 22pt;
    text-align: center;
    font-weight: bold;
    
}
h2{
    font-size: 18pt;
    text-align:left;
    font-weight: normal;

}

a{
    color: #A4A400;
}

blockquote{
    font-style: italic;
    background-color: #FFFFA8;
    
}

